h1 {
  font-family: "Pridi";
  font-size: larger;
  font-weight: 900;
  color: #1dbedd;
  letter-spacing: 0.05em;
}

h2,
p,
.nav-link {
  font-family: "Open Sans";
}

h2 {
  font-size: large;
  padding-bottom: 10px;
}

p {
  font-size: 12pt;
}

.nav-link {
  color: #fff !important;
}

.blurb {
  max-width: 500px;
}

img {
  margin: 50px 10px 50px 0px;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: #ffffff; /* Divider line color */
  margin: 0 10px; /* Adjust margins as needed */

  /* Media query for mobile layout */
  @media (max-width: 575px) {
    width: 100%;
    height: 1px;
    margin: 10px 0;
  }
}
