/* *GENERAL LAYOUTS */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#topContainer {
  margin-top: 50px;
  margin-bottom: 0px;
}

#resumeContainer,
#achievementsContainer,
#aboutContainer {
  margin-top: 100px;
  margin-bottom: 0px;
  align-items: start;
}

#aboutHtml,
#resumeHtml {
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: left;
}

#includeHtml {
  max-width: 800px;
}

#arrow-left,
#arrow-right {
  margin: 0;
  width: 100px;
  position: fixed;
  top: 65%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 40%;
  cursor: pointer;
  font-size: 56pt;
}
#arrow-left:hover,
#arrow-right:hover {
  opacity: 100%;
}
#arrow-left {
  margin-left: -80px;
}
#arrow-right {
  margin-left: 40px;
}

@media (max-width: 575px) {
  #topContainer {
    margin-top: 220px;
  }
  #aboutContainer,
  #achievementsContainer,
  #resumeContainer {
    margin-top: 270px;
  }
  /* Rotate the nav divider line in mobile or small screens */
  .divider {
    width: 100% !important;
    height: 1px !important;
    margin: 10px 0 !important;
  }
  #resumeTimeline {
    display: none;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 1s;
  }
  #toggle-nav-button {
    background-color: #fff;
  }
}

img {
  margin: 30px 10px 0px 30px;
  z-index: 1;
  position: relative;
}

/* #firstLottie {
  z-index: 2;
  position: absolute;
  margin-left: -30px;
  margin-top: -30px;
} */

/* *FONTS */
h1 {
  font-family: "Pridi";
  font-size: larger;
  font-weight: 900;
  color: #1dbedd;
  letter-spacing: 0.05em;
}

h2,
p,
.nav-link {
  font-family: "Open Sans";
}

h2 {
  font-size: large;
  padding-bottom: 10px;
}

p {
  font-size: 12pt;
}

.blurb {
  max-width: 500px;
}

/* *NAVBAR */
#toggle-nav-button {
  position: fixed;
  padding: 5px;
  top: 0;
  transition: top 1s;
  cursor: pointer;
  height: 40px;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.5s;
  background-color: #1dbedd;
}

.nav-link {
  color: #fff !important;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: #fff;
  margin: 0 10px;
}

.nav-item a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.navbar-nav a:hover {
  color: #fff;
  background-color: #018fac;
  border-radius: 5%;
}

.nav-link.active {
  font-weight: bold;
  color: #fff;
}

.navbar .dropdown-item.active {
  background-color: #1dbedd;
  font-weight: bold;
  color: #fff;
}

.navbar .dropdown-menu {
  background-color: #1dbedd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* *BUTTONS */
.button-container {
  padding: 20px 0px 20px 0px;
}
.button {
  display: flex;
  align-items: center;
}
.button > span {
  font-weight: 500;
}
.logo {
  margin-top: 0;
}

/* *CHART */
#tooltip {
  font-size: 14px;
  font-weight: 600;
  padding: 2px;
  margin: 0;
}

.tooltip {
  /* Stops the hover-over element from stuttering */
  pointer-events: none;
  /* blur behind the tooltip */
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);

  border-radius: 5px;
  border-style: solid;
  border-width: 0.25px;
  border-color: #32afb7;
  padding: 5px;
}
