/* *GENERAL LAYOUTS */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#topContainer {
  margin-bottom: 0px;
}

#aboutContainer {
  margin-bottom: 0px;
}

@media (max-width: 575px) {
  #topContainer {
    margin-top: 200px;
  }
  #aboutContainer {
    margin-top: 300px;
  }
  /* Rotate the nav divider line in mobile or small screens */
  .divider {
    width: 100% !important;
    height: 1px !important;
    margin: 10px 0 !important;
  }
}

img {
  margin: 80px 10px 0px 0px;
}

/* *FONTS */
h1 {
  font-family: "Pridi";
  font-size: larger;
  font-weight: 900;
  color: #1dbedd;
  letter-spacing: 0.05em;
}

h2,
p,
.nav-link {
  font-family: "Open Sans";
}

h2 {
  font-size: large;
  padding-bottom: 10px;
}

p {
  font-size: 12pt;
}

.blurb {
  max-width: 500px;
}

/* *NAVBAR */
.nav-link {
  color: #fff !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navbar-nav a:hover {
  background-color: #018fac;
  border-radius: 5%;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: #fff;
  margin: 0 10px;
}

/* *BUTTONS */
.button-container {
  padding: 20px 0px 20px 0px;
}
.button {
  display: flex;
  align-items: center;
}
.button > span {
  font-weight: 500;
}
.logo {
  margin-top: 0;
}
